/* 
Project Name: Statup Matchmaker
Client: Your Client
Author: Stephanie Yim
Developer @GA in NYC
Date: 6/25/2015
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.yellowButton {
     background-color: yellow;
     padding: 3% 10%;
}


/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 10px;
     line-height: 1.4;
     margin:0 auto;
}

/******************************************
/* LAYOUT                   
/*******************************************/

/***** mobile layout *****/

header {
     background-color: black;
     border-bottom: 4px solid;
     border-bottom-color: yellow;
}

main {
  
}

div {
  background-image: url("../images/coworking.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 663px;
  max-height: 100%;
}

/*nav {
     display: none;
}*/

/***** mobile content *****/

h1 {
     font-family: serif;
     font-weight: 900;
     padding: 2%;
     font-size: 3em;
     color: yellow;
}

ins {
     text-decoration: none;
     border-bottom: 3px solid yellow;

}
h2 {
     font-family: 'Merriweather', serif;
     font-style: italic;
     text-align: center;
     font-weight: 900;
     font-size: 2em;
     color: black;
     background-color: #D3D3D3;
     padding: 2%;
}

section h2 {
     font-style: normal;
     background-color: white;
     text-align: left;
     margin-top: 5%;
}

h3 {
     font-weight: 900;
     font-size: 2em;

}

main div section {
     float: right;
     background-color: #D3D3D3;
     opacity: 0.8;
     width: 30%;
     padding: 3%;
     margin: 2%;
     border: 1px inset black;
}

section.awesome {
     width: 100%;
     padding: 2%;
     margin: 1%;
}


p {
     font-size: 1.5em;
     margin: 2%;
}

footer p {
     padding: 3%;
}

a {
     display: none;
}

button {
     font-family: 'Oswald', sans-serif;
     font-weight: 900;
     font-size: 1.5em;
     padding: 2%;
     margin-top: 5%;
     margin-left: 10%;
     box-shadow:0px 3px 2px #888888;
     border-radius: 5px;
     text-align: center;
}


/***** tablet 768 *****/

@media only screen and (min-width: 768px) {

body {
     font-size: 12px;
}

nav {
     display: block;
     margin-left: 15%;
}

a {
     display: block;
     padding: 1%;
     color: white;
     font-size: 1.5em;
     text-decoration: none;
}

li a {
     float: left;
     width: 20%;
     color: white;
     text-decoration: none;
}

section.awesome {
     float: left;
     width: 30%;
     padding: 2%;
     margin: 1%;
}




footer {
     clear: both;
}

header img {
     display: none;
}


/***** desktop 1024 *****/

@media only screen and (min-width: 1024px) {

header img {
     display: none;
}
}
**/


